<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j//DTD//EN" "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
	<!-- $Id: log4j.xml 12140 2012-11-09 05:02:56Z vlads $ -->
<log4j:configuration>

	<appender name="ConsoleAppender-info" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The Line# should clickable in eclipse console. Do not change -->
			<param name="ConversionPattern" value="%-5p [%X{namespace}] %m \t{ %l}\n" />
		</layout>
	</appender>

	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="debug" />

		<param name="File" value="logs/test-server.log" />
		<param name="Append" value="false" />
		<!-- start new file on every restart -->
		<param name="MaxFileSize" value="3000KB" />
		<param name="MaxBackupIndex" value="10" />

		<layout class="org.apache.log4j.PatternLayout">
			<!--
				Patterns %d event date %r Number of milliseconds elapsed since the
				start of the application until the creation of the logging event. %p
				event priority %c logger name %C Caller class %F Caller file %l
				Caller full location information %L Caller Line number %M Caller
				method %m message %n platform dependent line separator %x NDC %X MDC
			-->
			<param name="ConversionPattern"
				value="%-5p %d %6r\t [%c{1}.%M:%L] [%X{namespace}.%X{sessionNum}.%X{userID}.%x]\t %l [%t]\n\t%m\n" />
		</layout>
	</appender>

	<appender name="FileAppender.warn" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/test-server-warn.log" />
		<param name="Threshold" value="warn" />
		<param name="Append" value="false" />
		<!-- start new file on every restart -->
		<param name="MaxFileSize" value="1000KB" />
		<param name="MaxBackupIndex" value="10" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p %d %6r\t [%c{1}.%M:%L] [%X{namespace}.%X{sessionNum}.%X{userID}.%x]\t %l [%t]\n\t%m\n" />
		</layout>
	</appender>

	<appender name="FileAppender.client" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="trace" />

		<param name="File" value="logs/test-client.log" />
		<param name="Append" value="false" />
		<!-- start new file on every restart -->
		<param name="MaxFileSize" value="3000KB" />
		<param name="MaxBackupIndex" value="10" />

		<layout class="org.apache.log4j.PatternLayout">
			<!--
				Patterns %d event date %r Number of milliseconds elapsed since the
				start of the application until the creation of the logging event. %p
				event priority %c logger name %C Caller class %F Caller file %l
				Caller full location information %L Caller Line number %M Caller
				method %m message %n platform dependent line separator %x NDC %X MDC
			-->
			<param name="ConversionPattern"
				value="%-5p %d %6r\t [%c{1}.%M:%L] [%X{namespace}.%X{sessionNum}.%X{userID}.%x]\t %l [%t]\n\t%m\n" />
		</layout>
	</appender>

	<logger name="com.pyx4j">
		<level value="debug" />
	</logger>

	<logger name="org.apache">
		<level value="info" />
	</logger>

    <logger name="com.mchange">
        <level value="warn" />
    </logger>

	<logger name="client">
        <level value="trace" />
        <appender-ref ref="FileAppender.client" />
    </logger>

	<root>
		<level value="info" />
		<appender-ref ref="ConsoleAppender-info" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="FileAppender.warn" />
	</root>


</log4j:configuration>